:root {
  --border-radius: 5px;
  --border-color: #eaeaea;

  --indent-m: 20px;
  --indent-s: 10px;
  --indent-xs: 10px;
  --gap-m: 20px;
  --gap-s: 10px;

  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  --main-text-color: #191919;
  --muted-text-color: #777;
  --accent-color: #1a73e8;
  --bg-color: #eaeaea;
}
